.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 16px 0;

}

.nav h3{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width :20%;
}
.list  a{
    color: white;
    font-size: 15px;
    font-weight: 300;
}